<html>

<head>
    <title>Weather Web App</title>
</head>

<body>
    <form action="/" method="POST">
        <label for="city">City Name:</label>
        <input type="text" name="city">
        <button type="submit">Get Data</button>
    </form>

    <p>
        <%= info.city %>
    </p>
    <span>
        <%= info.weather %>
    </span>

</body>

</html>