<html>

<head>
    <title>Weather Web App</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        form {
            margin-bottom: 20px;
        }

        label {
            font-size: 18px;
            margin-right: 10px;
        }

        input {
            padding: 8px;
            font-size: 16px;
        }

        button {
            padding: 8px 15px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        #city {
            font-size: 24px;
            margin-bottom: 10px;
        }

        #weather {
            font-size: 36px;
            font-weight: bold;
            color: #007bff;
        }

        /* Responsive Styles */
        @media screen and (max-width: 600px) {
            input {
                width: 100%;
                box-sizing: border-box;
            }

            button {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <form action="/" method="POST">
        <label for="city">City Name:</label>
        <input type="text" name="city">
        <button type="submit">Get Data</button>
    </form>
    <p id="city">
        <%= info.city %>
    </p>
    <span id="weather">
        <%= info.weather %>
    </span>
</body>

</html>